<a href="{{ path('iot6_DataBundle') }}" class="title"><strong>{{ 'msg.message_remote_server'|trans }}</strong></a>
<ul>
	{% for msg in messages %}
        <li><a href="{{ path('iot6_DataBundle') }}">{{ msg.shortMessage }}</a></li>
    {% endfor %}
</ul>