/logs

/symfony/.env
/symfony/.env.local
/symfony/.env.local.php
/symfony/.env.*.local
/symfony/public/bundles/
/symfony/var/
/symfony/vendor/


###> symfony/phpunit-bridge ###
/symfony/bin/.phpunit/

/symfony/.phpunit

/symfony/phpunit.xml

/symfony/.web-server-pid

###< symfony/web-server-bundle ###

.DS_Store
.idea/
symfony/.DS_Store
symfony/symfony.lock
symfony/composer.lock
symfony/public/assets/.DS_Store
symfony/src/Migrations/
/symfony/tosca_file
/symfony/config
/symfony/symfony.lock

