{% extends 'frontpage/layout.html.twig' %}

{% block title %}Frontpage{% endblock %}

{% block body %}
<div id="submenu">
		<a abc="/" class="selected" href="/">Services</a>

		 | 
	
	<a abc="/en/front/discussion/serviceSubscription" class="selected" href="/en/front/discussion/serviceSubscription">Discussion</a>
	
		 | 
		
	<a abc="/en/front/customer" href="/en/front/customer">Customer Support</a>
		

</div>

<br/>
<br/>
<br/>



<div class="scenarios">

	<a abc="/en/createVno" href="/en/createVno">
		<div>
			<img src="/assets/images/front/virtual.png">
				<br>
				<span>IoT Virtual Network</span>
			</div>
	</a>
	<a abc="/en/controlMonitoring" href="/en/controlMonitoring">
		<div>
			<img src="assets/images/front/camera.png">
				<br>
				<span>IoT Control and Monitoring (UDGaaS)</span>
			</div>
	</a>
	<a abc="/en/designPlan" href="/en/designPlan">
		<div>
			<img src="/assets/images/front/design.png">
				<br>
				<span>Designing and Planning IoT Deployments</span>
			</div>
	</a>
	<a abc="/en/integration" href="/en/integration">
		<div>
			<img src="/assets/images/front/integration.png">
				<br>
				<span>IoT integration and interoperability</span>
			</div>
	</a>
	
	<a abc="/en/fiware" href="/en/fiware">
		<div>
			<img src="/assets/images/front/fiware.png">
				<br>
				<span>FIWARE iHub</span>
			</div>
	</a>
	<a abc="/en/registry" href="/en/registry">
		<div>
			<img src="/assets/images/front/registry.png">
				<br>
				<span>IoT Registry</span>
			</div>
	</a>
	<a abc="/en/privacy" href="/en/privacy">
		<div>
			<img src="/assets/images/front/privacy.png">
				<br>
				<span>Privacy App</span>
			</div>
	</a>
					
</div>
    
{% endblock %}
