{% extends 'frontpage/layout.html.twig' %}

{% block title %}Frontpage{% endblock %}

{% block body %}
<div id="submenu">
		<a abc="/" class="selected" href="/">Services</a>

		 | 
	
	<a abc="/en/front/discussion" class="selected" href="/en/front/discussion">Discussion</a>
	
		 | 
		
	<a abc="/en/front/customer" href="/en/front/customer">Customer Support</a>
		

</div>

<h1>Services</h1>

<div class="scenarios">

	<a abc="/en/createVno" href="/en/createVno">
		<div>
			<img src="/assets/images/scenarios/Repas.png">
				<br>
				<span>IoT Virtual Network</span>
			</div>
	</a>
	<a onclick="scenario(6);">
		<div>
			<img src="/assets/images/scenarios/Repas.png">
				<br>
				<span>IoT Control and Monitoring (UDGaaS)</span>
			</div>
	</a>
	<a onclick="scenario(6);">
		<div>
			<img src="/assets/images/scenarios/Repas.png">
				<br>
				<span>Designing and Planning IoT Deployments</span>
			</div>
	</a>
	<a onclick="scenario(6);">
		<div>
			<img src="/assets/images/scenarios/Repas.png">
				<br>
				<span>IoT integration and interoperability</span>
			</div>
	</a>
	
	<a onclick="scenario(6);">
		<div>
			<img src="/assets/images/scenarios/Repas.png">
				<br>
				<span>FIWARE iHub</span>
			</div>
	</a>
	<a onclick="scenario(6);">
		<div>
			<img src="/assets/images/scenarios/Repas.png">
				<br>
				<span>IoT Registry</span>
			</div>
	</a>
	<a onclick="scenario(6);">
		<div>
			<img src="/assets/images/scenarios/Repas.png">
				<br>
				<span>Privacy App</span>
			</div>
	</a>
					
</div>
    
{% endblock %}
