{% extends 'frontpage/layout.html.twig' %}

{% block title %}Frontpage{% endblock %}

{% block body %}
<div id="submenu">
		<a abc="/" class="selected" href="/">Services</a>

		 | 
	
	<a abc="/en/front/discussion" class="selected" href="/en/front/discussion">Discussion</a>
	
		 | 
		
	<a abc="/en/front/customer" href="/en/front/customer">Customer Support</a>
		

</div>

<a abc="/en/createVno" href="/en/createVno">IoT VNO</a>
    
{% endblock %}
