{% extends 'frontpage/layout.html.twig' %}

{% block title %}Frontpage{% endblock %}

{% block body %}
<div id="submenu">
		<a abc="/" class="selected" href="/">Services</a>

		 | 
	
	<a abc="/en/front/discussion/serviceSubscription" class="selected" href="/en/front/discussion/serviceSubscription">Discussion</a>
	
		 | 
		
	<a abc="/en/front/customer" href="/en/front/customer">Customer Support</a>
		

</div>

<br/>
<br/>
<br/>

<div class="scenarios">

	<a href="{{ path('iot_list_ericsson')}}">
		<div>
			<img src="{{ asset('/assets/images/front/virtual.png') }}">
				<br>
				<span>Deploy IoT Virtual Network (by Ericsson)</span>
			</div>
	</a>
	<a href="{{ path('iot_list')}}">
		<div>
			<img src="{{ asset('assets/images/front/camera.png') }}">
				<br>
				<span>Deploy IoT Virtual Network (by OpenBaton)</span>
			</div>
	</a>
</div>
    
{% endblock %}
