{% extends 'frontpage/layout.html.twig' %}

{% block title %}Frontpage{% endblock %}

{% block body %}
<div id="submenu">
<a abc="/" class="selected" href="/">Services</a>

		 | 
	<a abc="/en/front/discussion/serviceSubscription" class="selected" href="/en/front/discussion/serviceSubscription">Discussion</a>
	
		 | 
		
	<a abc="/en/front/customer" href="/en/front/customer">Customer Support</a>
</div>

<h1>Discussion</h1>
	<br/>
    <a href="/en/front/discussion/serviceSubscription" class="subtitle2">[Contact Us for Service Subscription]</a>
    <a href="/en/front/discussion/contact" class="subtitle2">[Company and contact information]</a>
    <a href="/en/front/discussion/service" class="subtitle2">[Interesting services]</a>
	<br/>
    <br/>
    <br/>	

	<h1>Interesting services</h1>


             








    
{% endblock %}
