<a href="{{ path('iot6_ConfigBundle_AccessSecurity_Users') }}" class="subtitle2">[{{ 'conf.subMenu.users'|trans }}]</a>
<a href="{{ path('iot6_ConfigBundle_AccessSecurity_Profil') }}" class="subtitle2">[{{ 'conf.subMenu.profil'|trans }}]</a>
