{% extends is_mobile() ? is_tablet() ? "smartBoard.html.twig" : "mobile.html.twig" : "layout.html.twig" %}
 
{% block title %}
	{{ parent() }} - Configuration
{% endblock %}

{% block head %}
	{{ parent() }}
{% endblock %}
 
{% block body %}
	{{ parent() }}
	
	<div id="submenu">
		{{ render(controller("App\\Controller\\MenuController:subMenuConfig", {'_locale':app.request.locale})) }}
	</div>
	
{% endblock %}