<a href="{{ path('iot6_ConfigBundle_UdgModules_Protocols') }}" class="subtitle2">[{{ 'conf.subMenu.protocols'|trans }}]</a>
<a href="{{ path('iot6_ConfigBundle_UdgModules_Services') }}" class="subtitle2">[{{ 'conf.subMenu.services'|trans }}]</a>