{# templates/emails/registration.html.twig #}
<h3>You did it! You registered!</h3>

Hi {{ name }}! You're successfully registered.
To complete the registration follow the link!
</br>

{# example, assuming you have a route named "login" #}
Go to: <a href="{{ url('setpassword', {token: token}) }}/">Finalize your registration!</a>.

Thanks!


