{# templates/emails/registration.html.twig #}
<h3>Password reset</h3>

You have requested a password reset.
Please follow the link to set your new password.
</br>

{# example, assuming you have a route named "login" #}
Go to: <a href="{{ url('setpassword', {token: token}) }}/">Set your password!</a>.

Thanks!




