
{% extends "config/layoutConfig.html.twig" %}

{% block title %}

{% endblock %}

{% block head %}


{% endblock %}

{% block body %}



    <div id="submenu">
        <a abc="/" class="selected" href="/">Services</a>

        |

        <a abc="/en/front/discussion/serviceSubscription" class="selected" href="/en/front/discussion/serviceSubscription">Discussion</a>

        |

        <a abc="/en/front/customer" href="/en/front/customer">Customer Support</a>


    </div>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="blocLeft">

        <h1>Token expired!</h1>

    </div>


{% endblock %}